reisid.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="reisid">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="reis">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="details">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="transport" type="xs:string" />
										<xs:element name="lahtekoht" type="xs:string" />
										<xs:element name="saabumsiskoht" type="xs:string" />
										<xs:element name="hind" type="xs:string" />
										<xs:element name="kuupaev" type="xs:date" />
										<xs:element name="väljumisaeg" type="xs:string" />
										<xs:element name="lennufirma" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="transport" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>